/* header */
header{
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat:no-repeat;
}  
header h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 46px;
    font-weight: 900;
    line-height: 150%; /* 69px */
 }
.header__img{
    width: 100%;
    margin-top: auto;
}
.header__btn{
    border: none;
    border-radius: 9px;
    background: #5B98E3;
    width: 100%;

    color: #FFF;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 150%; 

} 
.header__h5{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%; /* 21px */
}

.header__h6{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
}


/* organizers */
.organizers{
    background: linear-gradient(88deg, #211EAA 0%, #3648B9 100%);
}

.so-organizers h4{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%; /* 27px */
}
.so-organizers h6{
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 130%; /* 16.9px */
}

/* steps */
.steps h3{
    color: #2A30B1;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 150%; /* 45px */
}
.steps__text{
    color: #2A30B1;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%; /* 45px */
}

/* goals */
.navbar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar-menu{
    display: flex;
    justify-content: space-between;
}

.navbar-item{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2A30B1;
    color: #2A30B1;
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
}

.navbar-item_active{
    border-bottom: 4px solid #2A30B1;
}
.card{
    border:none;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 64px 0px #BEC8F5;
    position: relative;
}
.card-img{
    width:60px;
    position: absolute;
    z-index: 1;
    transform: translate(-30%, -30%);
}
.card p{
    color: #2F185F;
    text-align: center;
    font-family: PT Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
}
.card-text{
    color: #2F185F;
    text-align: center;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
}





/* comitet */
.pictures{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pictures1{
    position: absolute;
    z-index: -1;
}
.pictures2{
    position: relative;
}
.container_card h3{
    color: #201EAA;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */
}
.container_card h4{
    color: #191773;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.comitet h2, .goals h2{
    color: #3444B8;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 150%; /* 63px */
}

.photogallery__img{
    width: 100%;
}
 /* contacts */
.contacts h2{
    color: #3444B8;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 150%; /* 63px */
}

/* places */
.adress{
    background: #4340C9;

}
.adress h3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 700;
    line-height: 150%; /* 31.5px */
}
.adress h4{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}
.communication{
    background: #0A72ED;
}
.places_number{
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 150%; /* 48px */
}
.email{
    color: #ACD2FF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%; /* 36px */
}









@media (min-width: 320px) and (max-width: 1024px)
{ 
    /* .container {
        margin: 0!important;
        width: 100%!important;
        max-width: 100%!important;
    } */
    .header__img {
        display: none;
    }
    .steps h3{
        color: #2A30B1;
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 400;
        line-height: 150%; /* 45px */
    }
    .steps h4{
        color: #2A30B1;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 150%; /* 45px */
    }

    h2{
        color: #3444B8;
        font-family: Montserrat;
        font-size: 25px!important;
        font-weight: 700;
        line-height: 150%; /* 63px */
    }
    .buttons{
        text-align: center;
        display: flex;
        flex-flow: wrap;
    }

} 
@media (min-width: 320px) and (max-width: 575px)
{
    header h1{
        font-size: 26px;
    }

    .card-img{
        width:40px;
        transform: translate(-15%, -15%);
    }
}
@media (min-width: 320px) and (max-width: 767px)
{
    .navbar-menu{
        flex-direction: column;
    }
    .navbar-item{
        text-align: center;
    }
}



/* 
@media (min-width: 1400px) { 
    header h1{
        font-size: 46px;
    }
 }


@media (min-width: 1200px) { 
    header h1{
        font-size: 46px;
    }
 }


@media (min-width: 992px) { 
    header h1{
        font-size: 46px;
    }
 }

*/

/* @media (min-width: 576px) and (max-width: 767px) { 

    .container {
        max-width: 540px;
    }
 } 
@media (min-width: 768px) and (max-width: 991px) { 

    .container {
        max-width: 720px;
    }
} */






/* @media (max-width: 576px) { 
    
    .container {
        margin: 0!important;
        width: 100%!important;
        max-width: 100%!important;
    }
} */